*{
  padding: 0;
  margin:0;
}
html{
  height: 100%;
}
p{
  background-color: blue;
  margin :2rem;
  height: 2rem;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin:auto;
  justify-content: center;
  //width: 100%;
}
#root {
  width: 100%;
}

.correct{
  background-color: green;
}
.in-correct{
  background-color: red;
}
