button{
  width: 200px;
  height: 200px;
  text-align: center;
  align-content:center;
  justify-content: center;
  border:0;
  margin: 10px;
}
.category_choice-button {

  background-image: url("../../../../assets/kategoria_button.png") ;
  background-size: contain;
  background-repeat: no-repeat;
}
.correct{
  background-color: green;
}
.incorrect{
  background-color: red;
}